@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mooli&display=swap');

body{

    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Croissant One', cursive; */
}



h3{
    font-size: 20px;
    font-weight: 600;
}

ul{
    padding: 0;
    margin: 0;
}
ul li {
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
}

/* Header and navbar css */
.header-section {
    padding: 20px 0;
}

.navbar-brand {
    color: blue;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Croissant One', cursive;
}


/* All section Css */
.all-books{
    padding: 50px 0;
}

.books-heading {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 600;
}
/* Books section */
.book-thumbnail{
    position: relative;
    padding: 10px;
}
.author-info{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    padding: 7px 0 ;
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
.book-item {
    width: 31%;
    padding: 20px 0;
    margin:10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}

.book-item .book-info {
    padding: 15px 20px;
}

.book-item .book-info .quantity {
    font-weight: 600;
    font-size: 14px;
}
.book-item .book-info .book-btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: white;
    background: rgb(76, 76, 255);
    text-align: center;
    border-radius: 5px;
    padding: 10px 30px;
    display: block;
    transition: .5s;
}

.book-item .book-info .book-btn:hover{
    background: rgba(0, 0, 0, 0.658);
    color: #FFFFFF;
}

/* sidebar css */

.search-btn{
    font-weight: 600;
    text-transform: capitalize;
    color: white;
    background: rgb(76, 76, 255);
    border-radius: 5px;
    padding: 10px 30px;
    display: block;
    transition: .5s;
    border: none;
}

.search-btn:hover{
    background: rgba(0, 0, 0, 0.658);
    color: #FFFFFF;
}

/* Book Details page css */
.book-details .book-btn{
    font-weight: 600;
    text-transform: capitalize;
    color: white;
    background: rgb(76, 76, 255);
    text-align: center;
    border-radius: 5px;
    padding: 10px 30px;
    display: block;
    transition: .5s;
}

.book-details .book-btn:hover{
    background: rgba(0, 0, 0, 0.658);
    color: #FFFFFF;
}

/* User Login Page Section */
.login-section {
    padding: 200px 0;
}

.login-section h2{
    text-align: center;
    font-weight: 600;
}
.nav-item .img-circle{
    width: 30px;
    border-radius: 50%;
    border: 1px solid blue;
}

/* Booking page section */

.booking-page{
    padding: 100px 0 0px;
}

.booking-page .table{
    margin-top: 50px;
}

.booking-page h2{
    padding: 0 0 20px;
    color:blue;
}

.booking-page .booking-form{
    padding: 20px 0;
}

.booking-form .book-btn{
    font-weight: 600;
    display: block;
    width: 100%;
    text-transform: capitalize;
    color: white;
    background: rgb(76, 76, 255);
    text-align: center;
    border-radius: 5px;
    padding: 10px 0px;
    display: block;
    transition: .5s;
    border: none;
}

.booking-form .book-btn:hover{
    background: rgba(0, 0, 0, 0.658);
    color: #FFFFFF;
}